<app-box title="Trades history" *ngIf="trades">
  <div>
    <table
      datatable
      class="w-full"
      [dtOptions]="dtOptions"
      class="row-border order-column hover w-full"
    >
      <thead class="w-full">
        <tr>
          <th>Type</th>
          <th>Coin</th>
          <th>Amount bought/sell</th>
          <th>Amount paid</th>
          <th>Price when bought/sell</th>
          <th>Current price</th>
          <th>Change</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody class="w-full">
        <tr *ngFor="let trade of trades; let i = index">
          <td [ngClass]="trade.buy ? 'text-primary-blue' : 'text-primary'">
            {{ trade.buy ? "BUY" : "SELL" }}
          </td>
          <td>
            <a
              [routerLink]="['/coin', trade.key]"
              class="cursor-pointer font-semibold"
            >
              {{ trade.coin }}</a
            >
          </td>
          <td>
            {{ trade.amount | currency: walletSymbols[trade.key] | uppercase }}
          </td>
          <td>
            {{ trade.amount * trade.price | currency }}
          </td>
          <td>
            {{ trade.price | currency }}
          </td>
          <td>
            {{ capitalChange[trade.key].eur | currency }}
          </td>

          <td class="min-w-max">
            <!-- {{ trade.amount * capitalChange[trade.key].eur }} -->
            <app-price-change
              [valueChange]="
                trade.amount * (capitalChange[trade.key].eur - trade.price)
              "
              [percentChange]="
                ((trade.amount * (capitalChange[trade.key].eur - trade.price)) /
                  (trade.amount * trade.price)) *
                100
              "
            ></app-price-change>
          </td>
          <td class="w-28">
            {{ trade.date | date: "medium" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-box>
