<div
  *ngIf="valueChange || percentChange"
  [ngStyle]="{
    color: percentChange <= 0 ? 'red' : 'green'
  }"
>
  <i
    [ngClass]="percentChange <= 0 ? 'fas fa-arrow-down' : 'fas fa-arrow-up'"
    class="text-left mr-2"
  >
  </i>
  <!-- {{ details.market_data.price_change_24h_in_currency[valueChange] }} -->
  <span *ngIf="valueChange">{{ valueChange | currency: currency }} (</span
  ><span class="whitespace-nowrap" *ngIf="percentChange"
    >{{ percentChange | number }} %<span *ngIf="valueChange">)</span></span
  >
</div>
<div *ngIf="!valueChange && !percentChange">-</div>
