<div class="px-12 w-full h-full grid">
  <div
    class="p-8 w-2/4 bg-white self-center justify-self-center text-center rounded-lg shadow-md"
  >
    <h1 class="p-4">Register</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input type="text" formControl="name" matInput />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input type="text" formControl="email" matInput />
        </mat-form-field>
      </p>
      <p class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            formControl="password"
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <i
              class="visible"
              [ngClass]="hide ? 'visibility_off' : 'visibility'"
            ></i>
          </button>
        </mat-form-field>
      </p>
      <button class="btn mainBtn">Save</button>
    </form>
  </div>
</div>
