html,
body {
  width: 100%;
  height: 100%;
}

select {
  min-width: 100px;
}

h1 {
  @apply text-primary-blue text-3xl;
}

a {
  @apply text-link font-semibold;
}

p {
  @apply text-gray-900 text-base;
}

h2 {
  @apply text-2xl text-gray-900;
}

h3 {
  @apply text-xl text-gray-900;
}

h4 {
  @apply text-gray-900 text-lg;
}
