<div class="my-6 mx-8">
  <app-box>
    <div class="w-full">
      <table
        datatable
        [dtOptions]="dtOptions"
        class="row-border order-column hover w-full"
      >
        <thead class="w-full">
          <tr>
            <th class="w-48">Coin</th>
            <th>Last</th>
            <th>24 h</th>
            <!--  <th>7 d</th>
            <th>30 d</th>
            <th>1 y</th>-->
            <th>MKT CAP</th>
            <th>ATH</th>
            <th>Volume</th>
            <th class="w-32">Last 7 days</th>
          </tr>
        </thead>
        <tbody *ngIf="resultsLength != 0">
          <tr *ngFor="let item of market">
            <td
              [routerLink]="['/coin', item.id]"
              class="flex text-left cursor-pointer font-semibold w-48"
            >
              <div><img style="height: 20px" [src]="item.image" /></div>
              {{ item.name }} ( {{ item.symbol | uppercase }} )
            </td>
            <td sorting="false">{{ item.current_price }}</td>
            <td>
              <app-price-change
                [valueChange]="item.price_change_24h"
                [percentChange]="item.price_change_percentage_24h_in_currency"
              >
              </app-price-change>
            </td>
            <td>{{ item.market_cap | shortNumber }}</td>
            <td>{{ item.ath | shortNumber }}</td>
            <td>{{ item.total_volume | shortNumber }}</td>
            <td>
              <app-sparkline
                [data]="item.sparkline_in_7d.price"
              ></app-sparkline>
            </td>
            <!--  <td>{{ item.price_change_percentage_30d_in_currency | number }}</td>
            <td>{{ item.price_change_percentage_1y_in_currency | number }}</td>
            <td>{{ item.price_change_percentage_1y_in_currency | number }}</td>
            <td>{{ item.price_change_percentage_1y_in_currency | number }}</td> -->
          </tr>
        </tbody>
        <tbody *ngIf="resultsLength == 0">
          <tr>
            <td colspan="3" class="no-data-available">No data!</td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-box>
</div>
