<div class="grid w-full h-navScreen">
  <app-box
    title="Login"
    class="w-1/4 justify-self-center pt-20 mb-auto min-w-min"
  >
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid gap-4">
      <app-input
        label="Email"
        type="email"
        [control]="email"
        placeholder="Enter your email"
      ></app-input>
      <app-input
        label="Password"
        type="password"
        [control]="password"
        placeholder="Enter your password"
      ></app-input>
      <button class="btn mainBtn">Log in</button>
    </form>
    <p class="pt-4">
      Don't have an Account? <a routerLink="/auth/register">Register here</a>
    </p>
  </app-box>
</div>
