<div class="w-full">
  <table
    datatable
    [dtOptions]="dtOptions"
    class="row-border order-column hover"
  >
    <thead class="w-full">
      <tr>
        <th>Coin</th>
        <th>Last</th>
        <th>24 h</th>
        <th>MKT CAP</th>
        <th>ATH</th>
        <th>Volume</th>
        <th class="w-32">Last 7 days (USD)</th>
        <th [ngClass]="loggedIn ? '' : 'hidden'">Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="resultsLength != 0">
      <tr *ngFor="let item of market">
        <td
          [routerLink]="['/coin', item.id]"
          class="cursor-pointer font-semibold"
        >
          <div class="flex">
            <img class="h-6 w-6 mr-2" [src]="item.image" />
            <p class="text-gray-900 text-left">
              {{ item.name }}
              <span class="text-gray-500">{{ item.symbol | uppercase }}</span>
            </p>
          </div>
        </td>
        <td>
          {{ item.current_price | currency: currency }}
        </td>
        <td>
          <app-price-change
            [valueChange]="item.price_change_24h"
            [currency]="currency"
            [percentChange]="item.price_change_percentage_24h_in_currency"
          >
          </app-price-change>
        </td>
        <td>
          {{ checkIfNull(item.market_cap | shortNumber) }}
        </td>
        <td>{{ item.ath | currency: currency }}</td>
        <td>{{ item.total_volume | shortNumber }}</td>
        <td class="w-32 ml-auto">
          <app-sparkline
            [data]="item.sparkline_in_7d.price"
            [currency]="currency"
          ></app-sparkline>
        </td>

        <th>
          <div *ngIf="loggedIn && wallet">
            <app-buy-sell [coin]="item.id" [wallet]="wallet"></app-buy-sell>
          </div>
        </th>
      </tr>
    </tbody>
    <tbody *ngIf="resultsLength == 0">
      <tr>
        <td colspan="3" class="no-data-available">No data!</td>
      </tr>
    </tbody>
  </table>
</div>
